/* Global Styles */
:root {
  --main-bg-color: #f7f7f7;
  --main-font-color: #2c3e50;
  --secondary-font-color: #555;
  --third-font-color: #fff;
  --accent-color: #df4747;
  --hover-accent-color: #c0392b;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color); /* Set your body background */
}



/* TopBar fixed at the top */
.topbar {
  width: 100%;
  background-color: var(--main-font-color);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.project-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensure the content is centered */
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.project-content {
  text-align: center; /* Center the text content */
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}


.project-details h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: var(--main-font-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  line-height: 1.2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
  width: 100%;
}

.project-details h1:hover {
  color: var(--hover-accent-color);
  cursor: default;
}

.project-details h2,
.project-details h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--main-font-color);
  text-align: center;
  line-height: 1.3;
  animation: fadeIn 1s ease-in-out;
  border-bottom: 4px solid #333;
  padding-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.project-content {
  text-align: left;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; /* Center content inside the wrapper */
}

/* Mobile Responsive Layout */
@media (max-width: 768px) {
  .project-content-wrapper {
    flex-direction: column;
  }

  .project-content {
    padding-right: 0;
  }

  .technologies-section,
  .evaluated-data,
  .data-analysis {
    grid-column: span 2;
  }
}

/* Text Content Styling */
.project-details p,
.project-intro p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--secondary-font-color);
  max-width: 900px;
  margin: 0 auto 30px auto;
  text-align: center;
}

/* Flex Layout for Content Wrappers */
.technologies-section,
.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 1px;
}

.technologies-section li {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.technologies-section li:hover {
  background-color: var(--hover-accent-color);
}

/* Evaluated Data & Analysis Sections */
.evaluated-data ul,
.data-analysis ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.evaluated-data ul li,
.data-analysis ul li {
  font-size: 1.1rem;
  background-color: var(--accent-color);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Image Section */
.image-container {
  position: relative;
  text-align: center;
}

.project-image {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
  transition: box-shadow 0.3s ease;
}

.image-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.image-caption {
  font-size: 1rem;
  color: var(--third-font-color) !important;
  margin-top: 10px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

/* Back Button Styling */
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  padding: 5px;
  margin-top: 50px;
  z-index: 1000;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: var(--hover-accent-color);
}

.footer-wrapper {
  width: 100vw; /* Stretch across the entire viewport width */
  position: relative;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color); /* Or the color you want */

}

/* Responsive Media Queries */
@media (max-width: 768px) {
  footer {
    font-size: 0.8rem;
    padding: 15px;
  }

  .project-content {
    padding: 10px;
  }
}