/* Global Styles */
:root {
  --main-bg-color: #f7f7f7;
  --main-font-color: #2c3e50;
  --secondary-font-color: #555;
  --third-font-color: #fff;
  --accent-color: #df4747;
  --hover-accent-color: #c0392b;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-heavy: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.project-content-wrapper {
  margin: calc(80px + 50px) auto 0;
  padding: 20px;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex; /* Ensure centering */
  flex-direction: column; /* For vertical alignment */
  align-items: center;
}


.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto; /* Center the content horizontally */
}

.project-details h1 {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(3rem, 7vw, 5rem); /* Larger font for visibility */
  color: var(--main-font-color); /* Use an accent color for emphasis */
  text-transform: uppercase;
  text-align: center; /* Center-align the text */
  letter-spacing: 2px;
  font-weight: 800; /* Make the text bold */
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4); /* Add a shadow for depth */
  margin-top: 20px; /* Add spacing above */
  margin-bottom: 40px; /* Add spacing below */
  padding-bottom: 10px;
  border-bottom: 10px solid var(--main-font-color); /* Add an underline */
}


.project-details h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--main-font-color);
  margin-bottom: 15px;
}

.project-details p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--secondary-font-color);
  text-align: left;
  margin-bottom: 20px;
}

/* Technology Section */
.technologies-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.technologies-section li {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* Data and Analysis Sections */
.evaluated-data ul,
.data-analysis ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}

.evaluated-data ul li,
.data-analysis ul li {
  background-color: var(--accent-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Images Section */
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.project-image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow-heavy);
}

/* Back Button */
.back-button {
  position: fixed;
  top: 200px;
  left: 20px;
  font-size: 3.5rem;
  color: var(--main-font-color);
  background: none;
  border: none;
  cursor: pointer;
}



/* Responsive Design */
@media (max-width: 768px) {
  .project-content-wrapper {
    padding: 10px;
  }

  .project-details h1 {
    position: relative;
    top: 50px;
    margin: 50px 0 20px 0;
    font-size: 2rem;
    line-height: 1.5;
  }

  .technologies-section li {
    font-size: 0.8rem;
  }

  .project-image {
    max-width: 90%;
  }

  .back-button {
    display:none;
  }

  .footer-wrapper {
    display: none; 
  }
}
