.skills-section {
  padding: 60px 20px;
  text-align: center;
  background: "transparent";
}

.skills-header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center; /* This will center the header */
  width: 100%; /* Ensure the header takes up the full width of the section */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Fixed four columns */
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1400px; /* Max width */
  margin: 0 auto; /* Center alignment */
}

.skill-item {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align content horizontally */
  background-color: #df4747;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  max-width: 300px; /* Set a consistent size */
  max-height: 200px;
  margin: auto; /* Center cards if smaller than container */
}

.skill-item:hover {
  transform: scale(1.05);
  background-color: #333;
}

.skill-item i {
  font-size: 2rem;
  margin-right: 15px; /* Space between icon and text */
}

.skill-content {
  text-align: left; /* Align text to the left */
}

.skill-content span {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}

.skill-content p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #f1f1f1; /* Lighter text color for descriptions */
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    gap: 15px;
  }

  .skill-item {
    padding: 15px;
    height: 150px;
  }

  .skill-item i {
    font-size: 1.5rem;
  }

  .skill-content span {
    font-size: 1rem;
  }

  .skill-content p {
    font-size: 0.8rem;
  }
}
