/* Section Styling */
#experience {
  padding: 60px 20px;
  background-color: #000; /* Lighter background for better contrast */
  text-align: center;
}

/* Experience Container */
.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: #000; /* Lighter background for better contrast */
  padding: 60px 20px;
}

/* Experience Card */
.experience-card {
  position: relative; /* Needed for absolute positioning inside the card */
  background-color: #000;
  padding: 27px;
  width: 345px; /* Default width for larger screens */
  border-radius: 8px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 5px solid #fff;
}

/* Company Logo */
.company-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px; /* Adjust the size based on your preference */
  height: auto;
  border-radius: 15px;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Job Title and Company */
.experience-card h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #df4747;
}

.experience-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.experience-card .date {
  font-size: 0.9rem;
  font-style: italic;
  color: #f9f9f9; /* Even lighter tone */
}

.experience-card p {
  font-size: 0.9rem;
  color: #fff; /* Even lighter tone */
}

/* Responsive Styling for Mobile Devices */
@media (max-width: 768px) {
  .experience-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center-align the cards */
    gap: 20px; /* Maintain spacing between stacked cards */
  }

  .experience-card {
    width: 90%; /* Make cards take up most of the viewport width */
    max-width: 800px; /* Limit the maximum width */
    padding: 20px; /* Adjust padding for better spacing */
  }

  .company-logo {
    width: 40px; /* Reduce the logo size for smaller screens */
  }
}
