/* Section Styling */
#orgs {
  padding: 60px 20px;
  background-color: #f9f9f9; /* Lighter background for better contrast */
  text-align: center;
}

/* Orgs Container */
.orgs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.orgs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  padding-bottom: 80px; /* Add extra padding to accommodate the logo */
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(135deg, #fff, #f7f7f7);
  border: 1px solid #ddd;
}

.orgs-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title and Chapter */
.orgs-card h2, .orgs-card h3 {
  margin: 0;
  padding: 5px 0;
}

.orgs-card h2 {
  font-size: 1.5rem;
  color: #df4747;
}

.orgs-card h3 {
  font-size: 1.2rem;
  color: #666;
}

/* Date */
.orgs-card .date {
  font-size: 0.9rem;
  font-style: italic;
  color: #999;
  margin-bottom: 15px;
}

/* Paragraph styling */
.orgs-card p {
  margin: 10px 0;
  line-height: 1.4;
}

/* Company Logo */
.companies-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: auto;
  border-radius: 15px;
}

/* Adjusting the Hover Effect */
.view-cert-button {
  background-color: white;
  color: red; 
  border: 2px solid red; 
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
