/* Section Styling */
#orgs {
  padding: 60px 20px;
  background-color: #000; /* Lighter background for better contrast */
  text-align: center;
}

/* Orgs Container */
.orgs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.orgs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 80px; /* Add extra padding to accommodate the logo */
  width: 500px; /* Default width for larger screens */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  background: #000;
  border: 5px solid #fff;
}

/* Stacking cards vertically on smaller screens */
@media (max-width: 768px) {
  .orgs-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center-align cards */
    gap: 20px; /* Maintain space between stacked cards */
  }

  .orgs-card {
    width: 90%; /* Make cards take up most of the viewport width */
    max-width: 800px; /* Limit maximum width for consistency */
  }
}


.orgs-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title and Chapter */
.orgs-card h2, .orgs-card h3 {
  margin: 0;
  padding: 5px 0;
}

.orgs-card h2 {
  font-size: 1.5rem;
  color: #df4747;
}

.orgs-card h3 {
  font-size: 1.2rem;
  color: #f9f9f9;
}

/* Date */
.orgs-card .date {
  font-size: 0.9rem;
  font-style: italic;
  color: #f9f9f9;
  margin-bottom: 15px;
}

/* Paragraph styling */
.orgs-card p {
  margin: 10px 0;
  line-height: 1.4;
  color: #f9f9f9;
}

/* Company Logo */
.companies-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: auto;
  border-radius: 15px;
}