html, body {
  overflow-x: hidden;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto 20px;
}

.section {
  padding: 60px 20px;
  background-color: #000/* Lighter background for better contrast */
}

.section h1,h2,h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center; /* This will center the header */
  width: 100%; /* Ensure the header takes up the full width of the section */
}

.section p, .section li {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}





/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .section {
    padding: 40px 15px; /* Reduce padding for mobile */
  }

  .section h1 {
    font-size: 1.6rem; /* Slightly smaller font for mobile */
  }

  .section p, .section li {
    font-size: 1rem; /* Adjust font size for smaller screens */
    line-height: 1.5; /* Slightly reduce line height */
  }

  .line {
    width: 80px; /* Reduce the line width for smaller screens */
  }

  .section ul {
    margin-left: 15px; /* Reduce left margin on lists for mobile */
  }
}
