/* Section Styling */
#certificate {
  padding: 60px 20px;
  background-color: #000; /* Lighter background for better contrast */
  text-align: center;
}

/* Certificate Container */
.certificate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

/* Certificate Card */
.certificate-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  padding: 20px;
  width: 500px; /* Default width for larger screens */
  border-radius: 8px;
  border: 5px solid #fff;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.certificate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title and Company */
.certificate-card h2,
.certificate-card h3 {
  margin: 0;
  padding: 5px 0;
}

.certificate-card h2 {
  font-size: 1.5rem;
  color: #df4747;
}

.certificate-card h3 {
  font-size: 1.2rem;
  color: #fff;
}

/* Date */
.certificate-card .date {
  font-size: 0.9rem;
  font-style: italic;
  color: #fff; /* Lighter tone */
  margin-bottom: 15px; /* Adding some space between date and text */
}

/* Paragraph styling */
.certificate-card p {
  margin: 10px 0;
  line-height: 1.4;
  color: #fff;
}

/* Company Logo */
.cert-logo {
  position: absolute;
  bottom: 20px; /* Adjust the spacing as needed */
  right: 20px; /* Adjust the spacing as needed */
  width: 40px;
  height: auto;
  border-radius: 10px;
}

/* View Certificate Button */
.view-cert-button {
  background-color: #000;
  color: #df4747;
  border: 2px solid #df4747;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  align-self: center;
}

.view-cert-button:hover {
  background-color: #df4747;
  color: white;
  border: 2px solid #fff;
}

/* Responsive Styling for Mobile Devices */
@media (max-width: 768px) {
  .certificate-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center-align cards */
    gap: 20px; /* Maintain space between stacked cards */
  }

  .certificate-card {
    width: 90%; /* Make cards take up most of the viewport width */
    max-width: 800px; /* Limit maximum width for consistency */
  }
}
